@page
@using Microsoft.Extensions.Localization
@using SnAbp.Oa.Localization
@model SnAbp.Oa.Web.Pages.Oa.IndexModel
@inject IStringLocalizer<OaResource> L
@{
}
<h1>Oa</h1>
<p>@L["SamplePageMessage"]</p>
