@page
@using Microsoft.AspNetCore.Mvc.Localization
@using SnAbp.Account.Localization
@using SnAbp.Account.Web.Pages.Account
@model SendSecurityCodeModel
@inject IHtmlLocalizer<AccountResource> L
<h2>Send security code!</h2>
<p>TODO: This page is under construction.</p>
